<body>
  <div class="area"></div>
  <nav class="main-menu">
    <ul>
    
      <li>
        <a class="nav-link" routerLink="dash">
          <i class="fa fa-home fa-2x"></i>
          <span class="nav-text">
            Dashboards
          </span>
        </a>

      </li>
      <li class="has-subnav">
        <a class="nav-link" routerLink="dashstat">
          <i class="fa fa-laptop fa-2x"></i>
          <span class="nav-text">
            Dashboard Statistics
          </span>
        </a>

      
      <li class="has-subnav">
        <a class="nav-link" routerLink="documents">
          <i class="fa fa-folder-open fa-2x"></i>
          <span class="nav-text">
           Documentation
          </span>
        </a>

      </li>
      <li>
        <a class="nav-link" routerLink="posts">
          <i class="fa fa-comments fa-2x"></i>
          <span class="nav-text">
            chat
          </span>
        </a>
      </li>
      <li>
        <a type="button" (click)="Setting()">
          <i class="fa fa-cog fa-2x"></i>
          <span class="nav-text">
            Setting
          </span>
        </a>
      </li>
      <li>
        <a type="button" (click)="help()">
          <i class="fa fa-question-circle fa-2x"></i>
          <span class="nav-text">
            Help
          </span>
        </a>
      </li>
    </ul>

    <ul class="logout">
      <li>
        <a (click)="logout()">
          <i class="fa fa-power-off fa-2x"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>
      </li>
    </ul>
  </nav>


  <div id="id04" class="modal">
    <span onclick="document.getElementById('id04').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/action_page.php">
   
        <div class="containerone">

          <div class="card" style="width: 50%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card" style="width: 50%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card" style="width: 50%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card" style="width: 50%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card" style="width: 50%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card" style="width: 50%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card" style="width: 50%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card" style="width: 50%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

          <div class="card" style="width: 50%;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>

   
      </div>
     
    </form>
  </div>
  <div id="id05" class="modal">
    <span onclick="document.getElementById('id05').style.display='none'" class="close" title="Close Modal">&times;</span>
    <form class="modal-content" action="/action_page.php">
      <div class="container">
          <h1>Setting are under development ⚙️</h1>

   
      </div>
    </form>
  </div>


</body>

