<body>

<div class="container">
    <div class="row">
 
      <div class="col one">
          <h1>Board Owner:</h1>
          <h2>{{Boarddes}}</h2>
      </div>
    </div>

    <div class="row">
      <div class="col one">
        <h1>Files:</h1>
        <h2>{{filescounter}}</h2>
      </div>
      <div class="col-6 one">
        <h1>Files size:</h1>
        <h2>{{filesize}} MB</h2>
      </div>
      <div class="col one">
      <h1>Online Time</h1>
      <h2>{{diffdays}} Days</h2>
      </div>
    </div>


    <div class="row">
      <div class="col one">
        <h1>Folder:</h1>
        <h2>{{filescounter}}</h2>
      </div>
      <div class="col-6 one">
        <h1>Powered by PapperHex</h1>
        <h2>We Thank you for chosing PapperHex as you personal document management system. </h2>
      </div>
      <div class="col one">
      <h1>Board authantication:</h1>
      <h2>{{diffdays}} Days</h2>
      </div>
    </div>






    </div>
 
 
</body>
